html, body {
	height: 100%;
	margin: 0;
	padding: 0px;
	overflow: hidden;
}

#top {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#settings {
	min-width: 300px;
	padding: 20px;
}

#canvas {
	width: 100%;
	height: 100%;
	background: #110A3A;
}

#center-cell-modal {
	position: absolute;
	left: 25%;
	top: 11%;
	height: 78%;
	width: 50%;
	filter: drop-shadow(2px 2px 20px rgb(243, 126, 0));
}

#center-cell-hex {
	height: 100%;
	width: 100%;
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
	background-color: white;
	padding-top: 20px;
}

#center-cell-heading {
	margin-left: 240px;
}

#center-cell-content {
	margin-left: 96px;
}